body{
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  background: url(../images/cut_SurfingLA_ec1920.jpg);
  font-family: Arial;
}
iframe{
  height: 750px;
  width:450px;
}
#bio{
  height:700px;
  width:500px;
  font-siz:2em;
  font-family: 'Architects Daughter', cursive;
}
#menu{
  height:675px;
  width:500px;
  /*border: 1px solid #777777;*/
  -webkit-align-items: center;
  align-items: center;
}
#menuController{
  display: inline-flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-evenly;
  height:3em;
  width:100%;
}
#navvy{
  display: inline-flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-evenly;
  height:6.5em;
  width:100%;
  border: 1px solid #777777;
}
#pageTitle{
  display: inline-flex;
  justify-content: space-evenly;
  width:100%;
}
#pageTitle_text{
  color: #9478ae;
  font-size: 2.5em;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
}
.center_h{
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
}
.examplebox{
  border:1px solid black;
  height:90%;
  width:100%;
  font-family: 'Architects Daughter', cursive;
}
.flexBodyLevel{

}
.menuCntrlBtn{
  height:5em;
  text-align: center;
  flex-grow: 1;
}
.menuCntrlBtn_appearance{
  font-size: 3em;
  color: #369fff;
}
.menuLinks{
  font-size: 1.5em;
  justify-content: center;
  text-align: center;
}
.navItem{
  font-family: 'Nothing You Could Do', cursive;
  font-size: 3em;
  text-align: center;
  flex-grow: 1;
}
.separator{
  width:100%;
  height:0.5em;
  background-color: #000;
}
