<div ng-if="ctrl.displayIncludes=='includes/dynamic_menu.html'" id="menu" class="thisBG">
  <!-- menuShowing: {{ctrl.menuShowing}}<br> -->
  <div class="examplebox" ng-include src="ctrl.menuShowing"></div><br>
  <!-- menudisplay test: {{ctrl.menuDisplaysNum}}
  arrExamples[n]: {{ctrl.arrExamples[ctrl.menuDisplaysNum]}} -->

  <div id="menuController">
    <!-- LEFT ARROW: -->
    <div class='menuCntrlBtn'><span class="menuCntrlBtn_appearance" ng-click="ctrl.menuSelection('L')">  &#9664;</span></div>
    <!-- RIGHT ARROW: -->
    <div class='menuCntrlBtn'><span class="menuCntrlBtn_appearance" ng-click="ctrl.menuSelection('R')">	&#9654;</span></div>
  </div>
</div>
